<div class="ui modal" id="delete_window">
    <i class="close icon"></i>

    <div class="header">
        Potwierdzenie
    </div>
    <div class="content">
        Jesteś pewien, że chcesz usunąć <span id="delete_window_class"></span>?
    </div>
    <div class="actions">
        <div class="ui green button" {{action cancelDelete}}>Nie</div>
        <div class="ui red positive button delete"  {{action delete}}>Usuń</div>
    </div>
</div>
<div class="ui modal" id="add_window">
    <i class="close icon"></i>

    <div class="header">Dodaj nowy przedmiot</div>
    <div class="content ui form">
        <div class="field">
            <label>Nazwa</label>
            {{input type="text" value=newClassName}}
        </div>
    </div>
    <div class="actions">
        <div class="ui button delete" {{action add}}>Anuluj</div>
        <div class="ui positive button" {{action cancelAdd}}>Dodaj</div>
    </div>
</div>
<div class="ui segment">
    <h1 class="ui header">Przedmioty</h1>

    <div id="toolbar">
        <div class="ui green tiny button enum_add" {{action showAddModal}}>Dodaj przedmiot</div>
    </div>
    <table class="ui column table segment">
        <thead>
        <tr>
            <th class="three wide">Nazwa</th>
            <th class="one wide"></th>
            <th class="one wide"></th>
        </tr>
        </thead>
        <tbody>
        {{#each itemController="class"}}
            <tr {{bind-attr class="isEditing:editing"}} {{action "toggle" on="doubleClick"}}>
                {{#if isEditing}}
                    <td>{{auto-focus value=name insert-newline="accept"}}</td>
                    <td>
                        <div class="ui orange mini button" {{action accept}}>akceptuj</div>
                    </td>
                {{else}}
                    <td>{{name}}</td>
                    <td>
                        <div class="ui blue mini button" {{action edit}}>edytuj</div>
                    </td>
                {{/if}}
                <td>
                    <div class="ui red mini button" {{action delete}}>usuń</div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>